<ul class="nav">
  <li class="nav"><a href="/" class="nav">Home</a></li>
  <li class="nav"><a href="/profile" class="nav">Profile</a></li>
  <li class="nav"><a href="/browse" class="nav">Browse</a></li>
  <li class="nav"><a href="/sign_in" class="nav">Sign In</a></li>
</ul>