<ul class="nav navbar-nav">
  <li class="nav"><a href="/ask" class="nav">Ask</a></li>
  <li class="nav"><a href="/browse" class="nav">Answer</a></li>
  <li class="nav"><a href="/myProfile" class="nav">Profile</a></li>
</ul>