<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Ask a Question</h2>
	
	<form>
		Category: 
		<select id="selectCategories">
		
		</select>
		
		Title of Question: <input type="text" name="title"><br>
		Body: <input type="text" name="body"><br>
	</form>
	
	<script src="/javascript/categoriesRequest.js"></script>
</body>
</html>