<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery.min.js"></script>
</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Ask a Question</h2>
	
	<form>
		Category: <select id="selectCategories"></select><br>
		Title of Question: <input type="text" name="title"><br>
		Body: <textarea name="message" rows="15" cols="30"></textarea>
	</form>
	
	<script src="/javascript/categoriesRequest.js"></script>
</body>
</html>