<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery.min.js"></script>
</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Ask a Question</h2>
	
	<form>
		Category: <br><select id="selectCategories"></select><br>
		Title: <br><textarea name="title" rows="1" cols="60" maxlength="58"></textarea><br>
		Body: <br><textarea name="body" rows="15" cols="60"></textarea><br>
		<input type="submit">
	</form>
	
	<script src="/javascript/categoriesRequest.js"></script>
</body>
</html>