<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Browse</h2>
	
	<ul id="ulCategories">
		
	</ul>
	
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/javascript/categoriesRequest.js"></script>
</body>
</html>
