<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/javascript/requestQuestions.js"></script>
</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Answer a Question</h2>
	
	<p>Select a category:</p>
	<select id="selectCategories" onChange="listQuestions()">
		
	</select>
	
	<p>Select a sorting method:</p>
	<select id="selectMethod" onChange="listQuestions()">
		<option value="new">New</option>
		<option value="popular">Popular</option>
	</select>
	
	<script src="/javascript/categoriesRequest.js"></script>
	
	<h3>Results:</h3>
	
	<ul id="ulQuestions"></ul>
</body>
</html>
