<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Browse</h2>
	
	<%= JSON.stringify(results) %>
	<ul>
    
	</ul>
</body>
</html>
