<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Result</title>
</head>

<body>

<main>
	<form action="result" method="get">
    <input type="text" name="num1">Number 1: <br>
    <input type="text" name="num2">Number 2: <br>
	<input type="radio" name="oper">+ <br>
	<input type="radio" name="oper">- <br>
	
    <input type="submit" value="OK">
	</form>
</main>

</body>
</html>