<!DOCTYPE html>
<html>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/javascript/profile.js"></script>
<head>

</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Profile</h2>
	<div id="image"><img src=""></img></div>
	<h3 id="username">Username</h3>
	<p id="description">Description</p>
	<div id="profileTools"></div>
	
	<script>
		var userId = "<%= id %>";
		var ownProfile = "<%= ownProfile %>";
		loadProfile(userId, ownProfile);
	</script>
</body>
</html>
