<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<% include ../partials/title.ejs %> 
	<% include ../partials/nav.ejs %> 
	<h2>Sign Up</h2>
	<form method="post" action="/addUser">
		Username: <input type="text" name="user"><br>
		Password: <input type="text" name="pass"><br>
		Password Verify: <input type="text" name="passVer"><br>
		<input type="submit">
	</form>
</body>
</html>
